[filament_switch_sensor filament_sensor]
pause_on_runout: False
runout_gcode: M600
insert_gcode: LOAD_FILAMENT
event_delay: 5.0
#pause_delay: 0.5
switch_pin: ^!can0:LIMIT_3

[adxl345]
cs_pin: can0:ADXL_CS
spi_software_sclk_pin: can0:ADXL_SCLK
spi_software_mosi_pin: can0:ADXL_MOSI
spi_software_miso_pin: can0:ADXL_MISO
axes_map: x, z, y

[resonance_tester]
accel_chip: adxl345
probe_points:
    125,155,20  # an example for a 350mm printer